modules = ["nodejs-20", "web", "cpp-clang14", "nodejs-19", "nodejs-18", "nodejs-16"]
run = "npm i"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm i"]

[[ports]]
localPort = 5173
externalPort = 80

[[ports]]
localPort = 5174
externalPort = 3000

[[ports]]
localPort = 5175
externalPort = 3001

[[ports]]
localPort = 5176
externalPort = 3002

[[ports]]
localPort = 5177
externalPort = 3003

[[ports]]
localPort = 5178
externalPort = 4200
