.topSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 180px;
  margin-top: 30px;
}

.leftSection img {
  height: 32rem;
  padding-left: 42px;
}

.rightSection {
  padding-right: 60px;
}

.rightSection h1 {
  background: #1877F2;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 38px;
  font-weight: 500;
  padding-bottom: 15px;
}

.rightSection p {
  color: rgb(75, 85, 99);
  font-weight: 400;
  font-size: 18px;
}

.notificationSection {
  background-color: #fffbdd;
  border: 1px solid #f5c518;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}

.notificationSection h2 {
  color: #d97706;
  font-size: 24px;
  margin-bottom: 10px;
}

.notificationSection p {
  color: #4b5563;
  font-size: 16px;
}
