.AdminReports-Full-Container {
  width: 100%;
  background-color: #f4e4ff;
}

.admin-reports-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: antiquewhite;
  padding: 20px 58px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 60rem; /* Default width */
  max-width: 100%;
  margin: 36px auto;
}

.admin-reports-container h2 {
  text-align: center;
}

.reports-list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.report-card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.report-card h3 {
  margin-bottom: 10px;
}

.report-card p {
  margin: 5px 0;
}

.report-card a {
  color: #007bff;
  text-decoration: none;
}

.report-card a:hover {
  text-decoration: underline;
}

/* Media queries */

/* For tablets and small desktops */
@media screen and (max-width: 1024px) {
  .admin-reports-container {
    width: 48rem;
    padding: 20px 38px 20px 20px;
  }
}

/* For large mobile phones and tablets */
@media screen and (max-width: 768px) {
  .admin-reports-container {
    width: 36rem;
    padding: 20px 35px 20px 20px;
    margin: 20px auto;
  }
}

/* For mobile phones */
@media screen and (max-width: 480px) {
  .admin-reports-container {
    width: 24rem;
    padding: 10px 38px 10px 10px;
    margin: 10px auto;
  }

  .admin-reports-container h2 {
    font-size: 24px;
  }
}
