.question-list {
  width: 100%;
}

.question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
}

.question-text {
  flex-grow: 1;
}

.edit-button,
.delete-button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #00d936;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  background-color: #dc3545;
}

.edit-button:hover {
  background-color: #01ab2b;
}

.delete-button:hover {
  background-color: #c82333;
}
